# to ignore junk.log files created by SAS
*.log


# SAS-related temporary files
*.sas7bdat
*.sas7bcat
*.sas7bitm

# MS Word
*.doc
*.docx

# MS Excel
*.xlsx
*.xls

# CSV files
*.csv

# text files
*.txt

# PDF files
*.pdf

# graphic files
*.png
*.jpg

# zip files
*.zip

# HTML files
*.htm
*.html
# do files
*.do

# dta files
*.dta

# irf files
*.irf